/* =============================================================================
   Backgrounds
   ========================================================================== */

.red-bg {
	background-color: #c11d2d;
}

.dark-blue-bg {
	background-color: #2c5065;
}

.blue-bg {
	background-color: #00a3e0;
}

.light-blue-bg {
	background-color: #3895cb;
}

.white-bg {
	background-color: #FFFFFF;
}

.black-bg {
	background-color: #000000;
}

.semi-black-bg {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
}

.grey-bg {
	background-color: #f0f0f0;
}

/* =============================================================================
   Text
   ========================================================================== */

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
	@include transition(all 0.3s ease);
	&:hover {
		color: #aa262f;
	}
}


h1 {
	@include didot;
	@include font-size(40);
	line-height: 0.9;
	margin: 0.3em 0;
	text-transform: uppercase;
	font-weight: normal;

	&:before {
		font-size: 70%;
	}
}

h2 {
	@include didot;
	margin: 0.8em 0;
	@include font-size(30);
	line-height: 0.9;
	text-transform: uppercase;
	font-weight: normal;
	&:before {
		font-size: 70%;
	}
}

h3 {
	@include didot;
	margin: 0.5em 0;
	@include font-size(26);
	line-height: 1.3;
	text-transform: uppercase;
	font-weight: normal;
	&:before {
		font-size: 70%;
	}
}

h4 {
	@include century-gothic;
	margin: 0.5em 0;
	@include font-size(20);
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: 3px;
	&:before {
		font-size: 70%;
	}
}

h5 {
	margin: 0.5em 0;
	@include century-gothic-bold;
	@include font-size(14);
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;

	&:before {
		font-size: 70%;
	}
}

h6 {
	margin: 0.5em 0;
	@include font-size(16);
	line-height: 1;
	&:before {
		font-size: 70%;
	}
}

p {
	margin: 0.8em 0;
}

.huge {
	font-size: 150%;
}

.big {
	font-size: 130%;
}

.small {
	font-size: 90%;
}

.small {
	margin: 0.4em 0;
}

.tiny {
	font-size: 70%;
}

p.tiny {
	margin: 5px 0;
}

.bold,
strong,
b {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.italic {
	font-style: italic;
}

.align-left,
.text-left {
	text-align: left;
}

.align-right,
.text-right {
	text-align: right;
}

.align-center,
.text-center {
	text-align:  center;
}

.align-middle,
.text-middle {
	vertical-align: middle;
}

.normal-style {
	font-style: normal;	
}

.underline {
	text-decoration: underline;	
}

.uppercase {
	text-transform: uppercase;
}

.normalcase {
	text-transform: none;
}

.black {
	color: #000;
}

.white {
	color: #fff;
}

a.white:hover {
	color: #ffbbbb;
}

.grey {
	color: #a8a8a8;	
}

a.grey:hover {
	color: #878787;	
}

.dark-grey {
	color: #333333;
}

a.dark-grey:hover {
	color: #141414;
}

.light-grey {
	color: #CCC;	
}

a.light-grey:hover {
	color: #a8a8a8;	
}

.orange {
	color: #d35c2a;	
}

a.orange:hover {
	color: #ac4b22;
}

.pink {
	color: #ed1375;	
}

.blue {
	color: #00a3e0;	
}

.dark-blue {
	color: #0057a6;
}

.teal {
	color: #13a89e;
}

.red {
	color: #aa262f;
}

a.red:hover {
	color: #5a1419;
}

.green {
	color: #c2ed00;
}

a.green:hover {
	color: #c9f400;
}

.purple {
	color: #9c0059;
}

a.purple:hover {
	color: #000000;
}
.error {
	color: #7e0606;
}

.brown {
	color: #7d563b;
}

a.brown:hover {
	color: #5c3f2b;
}

.light-brown {
	color: #c09367;
}

a.light-brown:hover {
	color: #977451;
}

/* =============================================================================
   Misc
   ========================================================================== */


.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hide {
	display: none;
}


.hide-on-tablet {
	@include device-width(8) {
		display: none !important;
	}
}

.hide-on-mobile {
	@include device-width(4) {
		display: none !important;
	}
}

.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-middle {
	vertical-align: middle;	
}

.valign-center {
	position: absolute;
	top: 50%;
	@include translateY(-50%)
}
.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background: url(../images/backgrounds/hr.png) repeat-x;
	border: 0;
    height: 7px;
	margin: 2em 0;
	width: 100%;

	.home & {
		background: url(../images/backgrounds/hr_home.png) repeat-x;
		margin: 0 auto;
		width: 112px;
		height: 10px;
	}
}


.border {
	border: 1px solid #ececec;
}

.border-bottom {
	border-bottom: 1px solid #ececec;	
}

.border-top {
	border-top: 1px solid #ececec;	
}

.border-left {
	border-left: 1px solid #ececec;	
}

.border-right {
	border-right: 1px solid #ececec;	
}

.thick-border-top {
	border-top: 2px solid #FFF;
}

.thick-border-bottom {
	border-bottom: 2px solid #FFF;
}

.scroller {
	position: relative;
	min-height: 100px;
	$ratio: 550 / 980;
	z-index: 100;
	margin-bottom: 1em;
	position: relative;
	&:before {
		content: '';
		display: block;
		padding-top: $ratio * 100%;
	}

	> .inner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	
	.scroller-mask {
		position: relative;
		overflow: hidden;
		height: 100%;
		
		.scroll-items-container {	
			width: 20000px;
			left: 0;
			height: 100%;
			position: relative;
		}

		.scroll-item {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			display: none;

			&.current {
				display: block;

				.description {
					opacity: 1;
				}
			}

			.description {
				@include transition(opacity 1s ease-in-out);
				opacity: 0;
			}
		}
	}
	
	.scroller-pagination {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		@extend .clearfix;
		li {
			float: left;
			list-style: none;

			a {
				display: block;
			}

			&.current a,
			a:hover {
				background-position: left bottom;
			}
		}
	}

	.scroller-navigation {
		position: absolute;
		top: 50%;
		height: 0;
		z-index: 200;
		width: 100%;
		margin-top: -1.5em;

		@include device-width(8) {
			font-size: 0.8em;
		}

		.prev-btn,
		.next-btn {
			width: 3em;
			height: 3em;
			position: absolute;
			top: 0;
			display: inline-block;
			background: #FFF;
			background: rgba(#FFF, 0.8);
			color: #585858;
			&:hover,
			&.hover {
				background: #000;

				&:before {
					color: #FFF;
				}
			}	

			&:before {
				@include transition(all 0.3s ease);
				font-size: 1.3em;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -0.4em;
				margin-top: -0.5em;
				@extend [data-icon]:before;
			}

			
		}


		.prev-btn {
			left: 0;
			&:before {
				@extend .icon-chevron-left:before;
			}
		}


		.next-btn {
			right: 0;
			&:before {
				@extend .icon-chevron-right:before;
			}
		}
	}
}

.overlay {
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
}

.lightbox {
	left: 50%;
    margin-left: -550px;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 1100px;
    z-index: 200;
}
	
	.lightbox > .loader {
		padding: 280px 0 0 0;
	}

	
.vertical-line {
	width: 1px;
	height: 100%;
	display: inline-block;
	background: #BEBEBE;
	vertical-align: middle;
}

img.border {
	border: 1px solid #DDDDDD;
	@include box-shadow(0 5px 5px 0 rgba(#000 ,0.2));
}

blockquote {
	padding: 0 0 0 2.5em;
	position: relative;
	margin: 1em 0;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		@include font-size(25);
		color: #9f9f9f;
		@extend [data-icon]:before;
		@extend .icon-open-quote:before;
	}

	&:after {		
		position: absolute;
		bottom: 0;
		right: 0;
		@include font-size(25);
		color: #9f9f9f;
		@extend [data-icon]:before;
		@extend .icon-close-quote:before;
	}
}

.post-category {
	font-size: 12px;

	a {
		color: #b50f0c;
	}
}

.pagination {
	text-align: center;
	margin: 10px 0;
	font-size: 12px;
	ol {
		list-style: none;
		display: inline-block;
		clear: block;
		margin: 0;
		padding: 0;
	}

	li {
		float: left;
		a {
			color: #a40000;
		}

		a, span {
			display: inline-block;
			margin: 0 5px;
		}

	}
}

.embed-page {
	margin-top: 30px;
	margin-bottom: 30px;

	.content {
		padding: 20px 0 0 0;

		.column-left,
		.column-right {
			font-size: 11px;
			line-height: 15px;
			font-family: Arial, Helvetica, sans-serif;

			p {
				margin: 2px 0;
			}

			ul {
				display: inline-block;
				margin-top: 2px;

				li {
					padding-right: 30px;
					border-bottom: 1px solid #dddddd;
				}
			}
		}

		.column-left {
			float: left;
			padding-left: 20px;
			width: 350px;
		}
		
		.column-right {
			float: right;
			width: 370px;
		}
	}
}


.has-tooltip,
.tooltip-btn {
	position: relative;
}

.tooltip {
	position: absolute;
	background: #161616;
	bottom: -40px;
	border: 1px solid #2f2f2f;
	left: 50%;
	width: 170px;
	margin: 0 0 0 -90px;
	list-style: none;
	padding: 5px;
	display: none;
	@include transition-property(opacity);

 	&:after {
	    border-color: #161616 transparent;
	    border-style: solid;
	    border-width: 0 6px 6px 6px;
	    top: -6px;
	    content: "";
	    display: block;
	    left: 50%;
	    position: absolute;
	    width: 0;
	    margin-left: -3px;
	}
	&:before {
	    border-color: #2f2f2f transparent;
	    border-style: solid;
	    border-width: 0 7px 7px 7px;
	    top: -8px;
	    content: "";
	    display: block;
	    left: 50%;
	    position: absolute;
	    width: 0;
	    margin-left: -4px;
	}

	input[type=text]{
		margin: 0;
		padding: 5px;
	}
}

.tabs {
	margin: 1.5em 0;
	.tab-navigation {
		position: relative;
		top: 1px;
		list-style: none;
		margin: 0;
		padding: 0;
		@extend .clearfix;
		z-index: 500;
		li {
			float: left;
			margin: 0 0.4em 0 0;
			a {
				display: block;
				text-transform: uppercase;
				padding: 0.5em 1em;
				border: 1px solid #c1c1c1;
				color: #000;
				&:hover {
					color: #7d563b;
				}
			}

			&.current {
				a {
					border-bottom: 1px solid #FFF;
					color: #7d563b;
					position: relative;

					&:after {
						content: '';
						display: block;
						width: 100%;
						height: 3px;
						top: 0;
						left: 0;
						margin: -1px 0 0 0;
						position: absolute;
						background: #7d563b;
					}
				}
			}
		}
	}

	.tab-content-container {
		position: relative;
		.fade-top {
			display: block;
			position: absolute;
			top: 1px;
			left: 0;
			right: 1px;
			height: 1em;
			@include background(linear-gradient(top, #FFF, rgba(#FFF, 0)));
			z-index: 200;

		}

		.fade-bottom {
			display: block;
			position: absolute;
			bottom: 1px;
			left: 0;
			right: 1px;
			height: 1em;
			@include background(linear-gradient(top, rgba(#FFF, 0), #FFF));
			z-index: 200;
		}
	}

	.tab-content {
		z-index: 100;
		border-top: 1px solid #c1c1c1;
		border-right: 1px solid #c1c1c1;
		border-bottom: 1px solid #c1c1c1;
		max-height: 20.5em;
		overflow: auto;
		position: relative;
		
		

		> .tab {
			display: none;
			padding: 0.2em 1em 0.2em 0;

			&.current {
				display: block;
			}

		}
	}
}


.scale {
	width: 100%;
	height: auto !important;
	max-height: 100%;
	max-width: 100%;
	display: block;
}

.shadow {
	position: relative;
	z-index: 100;
	&:before {
		content: '';
		z-index: 0;
		display: none;
		.loaded & {
			display: block;
		}
		position: absolute;
		width: 70%;
		height: 50%;
		bottom: 0;
		left: 15%;
		@include box-shadow(0px 0px 30px 5px #000);
		@include transform(
			perspective(290) rotateX(40deg)
		);
	}

	> * {
		position: relative;
		z-index: 200;
	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

.search-form {
	.field {
		background: #f8f8f8;
		@include font-size(10);
		border: none;
	}
	.submit {
		background: #f8f8f8;
		padding: 0.5em;
	}
}


.slider {
	position: relative;
	width: 100%;
	.slider-mask {
		width: auto;
		margin: auto;
		overflow: hidden;
	}

	.slide-items {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 20000px;
		@extend .clearfix;
		li {
			float: left;
		}
	}

	.slider-navigation {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -10em;

		.prev-btn,
		.next-btn {
			background: #000;
			width: 2em;
			height: 20em;
			position: absolute;
			
			top: 0;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				
				color: #FFF;
			}
		}

		.prev-btn {
			left: 0;
			&:before {
				@extend [data-icon]:before;
				@extend .icon-chevron-left:before;
			}
		}

		.next-btn {
			right: 0;
			&:before {
				@extend [data-icon]:before;
				@extend .icon-chevron-right:before;
			}
		}
	}
}


.social-links {
	list-style: none;
	padding: 0.5em 0;
	margin: 0;
	@extend .clearfix;
	li {
		float: left;
		margin: 0 1.4em 0 0;
	}
}

.box {
	border: 3px solid #000;
	padding: 1em;
}

.circle {
	display: inline-block;
	width: 8em;
	height: 8em;
	background: #CCC;
	color: #FFF;
	@include font-size(18);
	line-height: 8em;
	@include border-radius(4em);
	text-transform: uppercase;
	text-align: center;

	&.big {
		width: 10em;
		height: 10em;
		line-height: 10em;
		@include border-radius(5em);
	}
}

a.circle:hover {
	background-color: #000;
	color: #FFF;
}
/* =============================================================================
   Widgets
   ========================================================================== */

.widget {
	margin: 0 0 2em 0;
	> ul {
		padding: 0;
		margin: 0.5em 0;
		list-style: none;

		li {
			margin: 0.2em 0;
			a {
				text-transform: uppercase;
				letter-spacing: 1px;
				@include font-size(10);
			}
		}
	}
}

/* =============================================================================
   Lists
   ========================================================================== */

.red-list {
	list-style: none;
	margin: 10px 0;
	padding: 0;

	li {
		list-style: none;
		padding: 2px 0 2px 14px;
	}
}

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 8px 0;
	}
}

/* =============================================================================
   Buttons
   ========================================================================== */


button {
	background: #FFF;
	border: 0;
	padding: 0.3em 0.8em;
	@include century-gothic;

	&:hover {
		background: #ebebeb;
	}
}


.white-btn {
	display: inline-block;
	@include century-gothic-bold;
//	@include font-size(14);
	text-transform: uppercase;
	border: 3px solid #000;
	background: #FFF;
	color: #000;
	padding: 0.5em 2em;
	text-align: center;
	letter-spacing: 3px;
	&:hover {
		background: #000;
		color: #FFF;
	}
}

.facebook-btn,
.twitter-btn,
.tumblr-btn,
.instagram-btn,
.pinterest-btn,
.google-plus-btn {
	color: #333;
	padding: 0.1em;
	&:hover {
		text-decoration: none;
	}
	&:before {
		@include transition(all 0.3s ease);
		font-size: 1.3em;
		vertical-align: bottom;
		padding-right: 0.2em;
		display: inline-block;
		@extend [data-icon]:before;
	}
}
.facebook-btn {
	&:before {
		@extend .icon-facebook:before;
	}
	&:hover {
		&:before {
			color: #3b5998;
		}
	}
}

.twitter-btn {
	&:before {
		@extend .icon-twitter:before;

	}
	&:hover {
		&:before {
			color: #1ab2e8;
		}
	}
}


.tumblr-btn {
	&:before {
		@extend .icon-tumblr:before;
	}
	&:hover {
		&:before {
			color: #2a4560;
		}
	}
}

.instagram-btn {
	&:before {
		@extend .icon-instagram:before;
	}
	&:hover {
		&:before {
			color: #d6c3b4;
		}
	}

}


.pinterest-btn {
	&:before {
		@extend .icon-pinterest:before;
	}
	&:hover {
		&:before {
			color: #cc2127;
		}
	}
}

.google-plus-btn {
	&:before {
		@extend .icon-google-plus:before;
	}
	&:hover {
		&:before {
			color: #da2713;
		}
	}
}

.overlay-btn {
	position: relative;
	display: block;
	&:after {
		@include transition(all 0.3s ease);
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#000, 0.3);

		.no-opacity & {
			display: none;
		}
	}


	&:hover {
		&:after {
			opacity: 1;

			.no-opacity & {
				display: block;
			}
		}
	}

	> img {
		display: block;
	}
}

.print-btn {
	@media print {
		display: none;
	}
}
/* =============================================================================
   Grid
   ========================================================================== */

.row {	
	> .container {
		> .inner {
			padding: 4em 0;
			margin-left: -10px;
			margin-right: -10px;
		}
	}

	> .inner {
		padding: 4em 0;
		margin-left: -10px;
		margin-right: -10px;
	}

	.row-header {
		margin: 0 0 4em 0;
	}

	&:last-child {
		hr {
			display: none;
		}
	}
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container:before,
.container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after {
    clear: both;
}

.container {
	width: 90%;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	*zoom: 1;

	@include device-width(7) {
		width: 95%;
	}

	// @media only screen and (max-width: (860px)) {
	//  width: auto;
	// 	padding-left: 5%;
	// 	padding-right: 5%;
	// }
}

.span {
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	display: block;
	position: relative;
	@include box-sizing(border-box);
	z-index: 100;
}

.alpha.span {
	padding-left: 0px;
}

.omega.span {
	padding-right: 0px;
}
 
$columns: ((one, 10%), (two, 20%), (two-and-half, 25%), (quarter, 25%), (three, 30%), (three-three, 33.3333333%), (third, 33.3333333%), (one-third, 33.3333333%), (four, 40%), (five, 50%), (six, 60%), (two-thirds, 66%), (seven, 70%), (seven-and-half, 75%), (eight, 80%), (nine, 90%), (ten, 100%));
$total_columns: length($columns);

$i: 1;
@each $column in $columns {
	$class: nth($column, 1);
	$width: nth($column, 2);
	
	.span.#{$class} {
		width: ($width);
	}

	.push-#{$class} {
		margin-left: ($width);
	}

	.pull-#{$class} {
		margin-left: -($width);
	}
	$i: $i + 1;
}

.span.break-on-tablet {
	@include device-width(8) {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

.span.break-on-mobile {
	@include device-width(4) {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

.left, .alignleft {
	float: left;
}

.right, .alignright {
	float: right;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.aligncenter,
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.third-width {
	width: 33%;
}

.full-height {
	height: 100%;
}



/* =============================================================================
   Table
   ========================================================================== */

table {
	
}
	table td{
		padding: 5px 0;
	}

/* =============================================================================
   Forms
   ========================================================================== */

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password], 
textarea,
select {
	@include box-sizing(border-box);
	color: #666;
	border: none;
	@include century-gothic;
	&:focus {
		outline: none;
	}
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password],
textarea {	
	@include border-radius(0);
	background: #FFF;
	border: 1px solid #a1a1a1;
	padding: 0.6em;
	max-width: 100%;
	@include font-size(12);


}

::-webkit-input-placeholder { /* WebKit browsers */
 	text-transform: uppercase;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 	text-transform: uppercase;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 	text-transform: uppercase;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
 	text-transform: uppercase;
}

select {
	@include border-radius(0);
	-webkit-appearance: none;
	display: inline-block;
	border: 1px solid #b0b0b0;
	padding: 0.6em;
	@include font-size(12);
	background: #f4f4f4;
	position: relative;
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		padding-right: 40px;
		background: #f4f4f4 url(../images/misc/dropdown.png) no-repeat center right;
	}
}

textarea {
	height: 200px;
}

input[type=submit],
input[type=reset] {
	cursor: pointer;
	display: inline-block;
	background: #000;
	padding: 0.4em 1.5em;
	text-shadow: none;
	text-transform: uppercase;
	@include font-size(14);
	color: #FFF;
	border: none;
	line-height: 1.3;
	margin: 0 0 0.5em 0;
	&:hover {
		color: #FFF;
		background: #cfcfcf;
	}

	@include device-width(8) {
		font-size: 1em;
	}
}


button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="radio"]::-moz-focus-inner,
option::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none !important;
	outline: none !important;
}

label {
	font-weight: bold;
	margin: 0 0 0.3em 0;
	@include font-size(13);
}

fieldset {
	border: none;
	padding: 0;
}
/* =============================================================================
   Gravity
   ========================================================================== */

.gform_wrapper {
	max-width: 100% !important;
 
// 	color: #FFF;

	.gform_heading {
		.gform_title {
			font-weight: normal;
			@include font-size(20);
		}
	}

// 	.validation_error {
// 		color: #a40000;
// 	}

 	.gform_body {

// 		margin: 20px 0;
// 		font-family: Arial, Helvetica, sans-serif;

// 		font-size: 11px;

		.gform_fields {
			margin: 0;
			padding: 0;
			list-style: none;
			@extend .clearfix;

 			.gfield {
// 				margin: 0 0 20px 0;

				&.gsection {
					border-bottom: 1px solid #ececec;
				}

				&.hide-label {
					.gfield_label {
						display: none;
					}
				}
				.gfield_label {
					@include font-size(12);
					margin: 0.8em 0 0.3em 0;
					font-weight: bold;
					
				}

// 				.gfield_description {
// 					font-size: 10px;
// 				 	font-style: italic;
// 				 	text-align: right;

// 					&.validation_message {
// 						color: #a40000;
// 					}
// 				}

				&.gfield_error {
					margin: 0 !important;
					padding: 0 !important;
					background: none;
					border: none;

					&.gfield_contains_required {
						margin: 0 !important;
						padding: 0 !important;
					}

					&.gf_left_half {
						width: 46%;
					}

					.ginput_container {
						margin: 0 !important;
						max-width: 100%;
					}
				}

				&.large-container {
					.ginput_container {
						@include border-radius(3px);
						background: #f2f2eb;
						background: rgba(#FFF, 0.5);
						border: 1px solid #c3c2bb;
						padding: 6em 8em;

						@include device-width(9){
							padding-left: 4em;
							padding-right: 4em;	
						}
					}
				}

				&.gf_left_half,
				&.gf_right_half {
					width: 44% !important;

					@include device-width(6){
						width: 100% !important;
						float: none !important;
						clear: none !important;
					}
				}

 				.ginput_container {
 					input[type=text],
					input[type=email],
					input[type=url],
					input[type=tel],
					input[type=number],
					input[type=password],
					textarea {
						@include box-sizing(none);
						background: #FFF;
						padding: 0.8em 0.6em;
						max-width: 100%;
						
						// &.small {
						// 	width: 25%;
						// }

						// &.medium {
						// 	width: 50%;
						// }

						// &.large {
						// 	width: 100%;
						// }
					}

					select {
						@include border-radius(0);
						-webkit-appearance: none;
						display: inline-block;
						background: #FFF;
						border: 1px solid #b0b0b0;
						padding: 0.6em;
						@include font-size(12);
						background: #f4f4f4;
						position: relative;

						@media screen and (-webkit-min-device-pixel-ratio:0) {
							padding-right: 20px;
							background: #f4f4f4 url(../images/misc/dropdown.png) no-repeat center right;
						}

						&.medium {
							width: 45%;
						}
					}
 				}	

 				.gfield_description {
 					&.validation_message {
 						padding: 6px 0 0 0 !important;
 					}
 				}	
 			}

 			&.left_label {
 				.gfield_label {
 					width: 35%;
 				}
 			}
 		}
 	}

 	.gform_footer,
 	.gform_page_footer {
 		&.left_label {
	 		padding-left: 35%;
	 	}
 		.button,
 		input.button,
 		input[type=submit],
 		input.button.gform_button {
 			@extend .white-btn;
		}
 	}
}