@mixin arial {
	font-family: Arial, Helvetica, sans-serif;
}

.arial {
	@include arial;
}

@mixin didot {
	font-family: 'Didot W01 Roman', Arial, Helvetica, sans-serif;
}

.didot {
	@include didot;
}


@mixin didot-bold {
	font-family: 'Didot W02 Bold', Arial, Helvetica, sans-serif;
}

.didot-bold {
	@include didot-bold;
}



@mixin century-gothic {
	font-family: 'Century Gothic W01', Arial, Helvetica, sans-serif;
}

.century-gothic {
	@include century-gothic;
}

@mixin century-gothic-bold {
	font-family: 'Century Gothic W01 Bold', Arial, Helvetica, sans-serif;
}

.century-gothic-bold {
	@include century-gothic-bold;
}